.LeaderBoard {
  padding-left: 10px;
  padding-right: 10px;
  align-self: stretch;
}
.gold {
  background-color: #f0e5b7;
}
.gold:hover {
  background-color: #e8d894;
}

.silver {
  background-color: #dfdfe1;
}
.silver:hover {
  background-color: #d4d4d7;
}

.bronze {
  background-color: #d9af96;
}
.bronze:hover {
  background-color: #cd9573;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}

.none:hover {
  background-color: #f2f2f2;
}
